@charset "UTF-8";

/* general /////////////////////////////// */
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	color: #000000;
}



/* header /////////////////////////////// */
h1 {
    margin: 2px 0 0 0;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

header {
    background-color: #8AB2E7;
}

.nav-item {
    font-size: 0.8em;
}

.nav-item:hover {
    background-color: aliceblue;
}

.nav-link {
	display: block;
    padding: 8px 0;
    height: 15px;
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-open {
    max-height: 216px !important;
    
    transition: all 0.2s linear;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

    padding: 10px;
}

#nav-button {
    border: #FFFFFF solid 1px;
    border-radius: 6px;
    background-color: transparent;
    font-size: 1.2em;
    color: #FFFFFF;
}

#nav-button:active {
    background-color: steelblue;
}

#nav-list {
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    padding: 0;
    background-color: #8AB2E7;
    text-align: center;
    
    transition: all 0.6s ease-out;
}


/* main /////////////////////////////// */
dd {
    margin-left: 0;
    border-bottom: #000000 solid 1px;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 40px;
}

dt {
    padding-top: 16px;
}

h2 {
    text-align: center;
    font-size: 2em;
}

main {
    padding-right: 15px;
    padding-left: 15px;
}

.principle {
    margin-bottom: 25px;
}

/* footer /////////////////////////////// */
footer {
    margin: 10px 0 0;
    padding: 5px 0;
    background-color: #8AB2E7;
    text-align: center;
}

.more-link {
    color: #000000;

    transition: all 0.4s linear;
}

.more-link:hover {
    transition: all 0.4s linear;
    transform: scale(2.2);
}

#more-facebook:hover {
    color: #3B5998;
}

#more-twitter:hover {
    color: #1DA1F2;
}

#more-instagram:hover {
    color: #C32AA3;
}

#more-youtube:hover {
    /*color: #CC0000;*/
    color: #FF0000;
}

#more {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 700px) {
    /* header //////////////////////////////// */
    h1 {
        font-size: 1.4em;
    }

    #header {
        justify-content: center;
    }


    /* main //////////////////////////////// */
    main {
        padding-right: 60px;
        padding-left: 60px;
        line-height: 1.5em;
        font-size: 1.1em;
    }

    .principle {
        width: 40%;
    }

    .principle-head {
        text-decoration: underline;
    }

    .nav-item {
        flex: 1;
    }

    .nav-link {
        font-size: 1.2em;
    }

    .nav-link:hover {
        text-decoration: none;
    }

    #nav-button {
        display: none;
    }

    #nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        max-height: initial;
    }

    #principles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1100px) {
    /* header //////////////////////////////// */
    header {
        display: flex;
        justify-content: space-between;
    }

    header > * {
        flex: 1;
    }

    #header {
        justify-content: flex-start;
    }

    #nav-list {
        padding-top: 9px;
        padding-bottom: 9px;
    }
}

@media screen and (min-width: 1200px) {
    /* main //////////////////////////////// */
    main {
        padding-right: 80px;
        padding-left: 80px;
        line-height: 1.6em;
        font-size: 1.3em;
    }

    .principle {
        width: 30%;
    }
}