@charset "UTF-8";

/* general /////////////////////////////// */
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	color: #000000;
}



/* header /////////////////////////////// */
h1 {
    margin: 2px 0 0 0;
    font-size: 1.2em;
}

header {
    padding: 10px;
    background-color: #8AB2E7;
}

.nav-open {
    max-height: 216px !important;
    
    transition: all 0.2s linear;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#nav-button {
    border: #FFFFFF solid 1px;
    border-radius: 6px;
    background-color: transparent;
    font-size: 1.2em;
    color: #FFFFFF;
}

#nav-button:active {
    background-color: steelblue;
}

#nav-list {
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    padding: 0;
    background-color: #8AB2E7;
    text-align: center;
    
    transition: all 0.6s ease-out;
}


/* main /////////////////////////////// */



/* footer /////////////////////////////// */

