@charset "UTF-8";

/* general /////////////////////////////// */
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	color: #000000;
}



/* header /////////////////////////////// */
header {
    padding: 10px 10px 0;
    background-color: #8AB2E7;
}


/* main /////////////////////////////// */



/* footer /////////////////////////////// */

